* {
	appearance: none;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	border-radius: 0;
	font-weight: normal;
}

html {
	font-family: "SF Mono", "Operator Mono", "Roboto Mono", "Menlo", "Monaco", "Consolas", monospace;
	font-size: 1rem;
	--accent-color: #cf0100;
}
